$color_1: #444444;
$color_2: white;
$color_3: #bc3f33;
$font_family_1: helvetica, arial, sans-serif;
$font_family_2: Montserrat, helvetica, arial, sans-serif;
$background_color_1: #bc3f33;

body {
  font-family: $font_family_1;
  font-size: 1.2em;
  color: $color_1;
  margin: 0;
}
header {
  font-family: $font_family_2;
  background-color: $background_color_1;
  color: $color_2;
  padding: 10px 0 10px 0;
  font-size: 1.2em;
  text-align: center;
}
h2 {
  font-family: $font_family_2;
  font-weight: 700;
  font-size: 1.4em;
  margin-top: 20px;
}
p {
  line-height: 1.2em;
}
a {
  color: $color_3;
  text-decoration: none;
}
.container {
  max-width: 700px;
  margin: 5px auto 5px auto;
  padding-left: 15px;
  padding-right: 15px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $background_color_1;
  color: $color_2;
  text-align: center;
  font-size: 0.6em;
  padding: 5px 0 5px 0;
  a {
    color: $color_2;
    text-decoration: none;
  }
}
